;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/polybar/polybar
;
;   The README contains a lot of information
;
;==========================================================

[colors]
background = #1e1e2e
background-alt = #373B41
foreground = #C5C8C6
primary = #F0C674
secondary = #8ABEB7
alert = #A54242
disabled = #707880
color = #b4befe

[bar/example]
width = 90%
height = 27pt
radius = 6
offset-x = 4%
offset-y = 5
fixed-center = true

; dpi = 96

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 3pt

border-size = 2pt
border-color = ${colors.color}

padding-left = 0
padding-right = 1

module-margin = 0


font-0 = monospace;2
font-1 = JetBrains Mono Nerd Font:size=19;4
font-2 = Font Awesome 5 Free:style=Solid:pixelsize=16;3

modules-left = separator  gentoo-icon separator separator 
modules-center = xworkspaces
modules-right = cpu memory separator battery updates

cursor-click = pointer
cursor-scroll = ns-resize

enable-ipc = true

; tray-position = right

; wm-restack = generic
; wm-restack = bspwm
; wm-restack = i3

; override-redirect = true


[module/pulseaudio]
type = internal/pulseaudio

format-volume-prefix = "VOL "
format-volume-prefix-foreground = ${colors.primary}
format-volume = <label-volume>

label-volume = %percentage%%

label-muted = muted
label-muted-foreground = ${colors.disabled}


[module/memory]
type = internal/memory
interval = 1
label = "%percentage_used%%"
format = <label>
format-prefix = "  "
format-prefix-font = 3
format-prefix-foreground = ${color.background}
format-foreground = ${color.background}


[module/cpu]
type = internal/cpu
interval = 1
label = "%percentage%% "
format = <label>
format-prefix = "  "
format-prefix-font = 2
format-prefix-foreground = ${color.background}
format-foreground = ${color.background}
format-background = ${color.red}


[network-base]
type = internal/network
interval = 5
format-connected = <label-connected>
format-disconnected = <label-disconnected>
label-disconnected = %{F#F0C674}%ifname%%{F#707880} disconnected

[module/wlan]
inherit = network-base
interface-type = wireless
label-connected = %{F#F0C674}%ifname%%{F-} %essid% %local_ip%

[module/eth]
inherit = network-base
interface-type = wired
label-connected = %{F#F0C674}%ifname%%{F-} %local_ip%

[module/date]
type = internal/date
interval = 1

date = %H:%M
date-alt = %Y-%m-%d %H:%M:%S

label = %date%
label-foreground = ${colors.primary}

[settings]
screenchange-reload = true
pseudo-transparency = true

; vim:ft=dosini

[module/gentoo-icon]
type = custom/text
content = ""
content-font = 1

[module/separator]
type = custom/text
content = " "
content-font = 0

[module/xworkspaces]
type = internal/xworkspaces

label-active = %name%
label-active-background = #1e1e2e
label-active-foreground = #289b4fa
label-active-underline= ${colors.color}
label-active-padding = 1

label-occupied = %name%
label-occupied-padding = 1

label-urgent = %name%
label-urgent-background = #1e1e2e
label-urgent-padding = 1

label-empty = %name%
label-empty-foreground = ${colors.disabled}
label-empty-padding = 1

[module/xwindow]
type = internal/xwindow
label = %title:0:60:...%

[module/filesystem]
type = internal/fs
interval = 25

mount-0 = /

label-mounted = %{F#F0C674}%mountpoint%%{F-} %percentage_used%%

label-unmounted = %mountpoint% not mounted
label-unmounted-foreground = ${colors.disabled}

[module/updates]
type = custom/script
exec = /home/peter/.config/leftwm/bin/updates/gentoo.sh
interval = 1800
label = %output%
format-foreground = ${color.background}
format-prefix = " 勒 "
format-prefix-foreground = ${color.background}
format-prefix-font = 2

[module/battery]
type = internal/battery

full-at = 99

battery = BAT1
adapter = ACAD

poll-interval = 2
time-format = %H:%M

format-charging = <animation-charging><label-charging>
format-charging-prefix = 

format-discharging = <ramp-capacity><label-discharging>

format-full = <label-full>
format-full-prefix = "  "
format-full-prefix-font = 2
format-full-prefix-foreground = ${color.background}
format-full-prefix-background = ${color.yellow}

label-charging = "%percentage%%"
label-discharging = "%percentage%%"
label-full = "%percentage%%"

label-charging-background = ${color.yellow}
label-discharging-background = ${color.yellow}
label-full-background = ${color.yellow}

label-charging-foreground = ${color.background}
label-discharging-foreground = ${color.background}
label-full-foreground = ${color.background}


ramp-capacity-0 = "󰁺"
ramp-capacity-1 = "󰁻"
ramp-capacity-2 = "󰁼"
ramp-capacity-3 = "󰁽"
ramp-capacity-4 = "󰁾"
ramp-capacity-5 = "󰁿"
ramp-capacity-6 = "󰂀"
ramp-capacity-7 = "󰂁"
ramp-capacity-8 = "󰂂"
ramp-capacity-9 = "󰁹"
ramp-capacity-foreground = ${color.background}
ramp-capacity-background = ${color.yellow}

animation-charging-0 = "󰁺"
animation-charging-1 = "󰁻"
animation-charging-2 = "󰁼"
animation-charging-3 = "󰁽"
animation-charging-4 = "󰁾"
animation-charging-5 = "󰁿"
animation-charging-6 = "󰂀"
animation-charging-7 = "󰂁"
animation-charging-8 = "󰂂"
animation-charging-9 = "󰁹"
animation-charging-font = 2
animation-charging-foreground = ${color.background}
animation-charging-background = ${color.yellow}
animation-charging-framerate = 750

